/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-transcript-annotation Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

params {

 	// Input options
 	reads = "${launchDir}/data/*.fastq.gz"
 	optional_shortread = "/import/pontos05/analyses/RETARDannotHE_A2022/2MM/funannotate/2018_4*"  	// if no short reads, replace with optional_shortread = null 	
 	
 	// References
 	genome = "genome://hdujardini_HiC"
 	annotation = "gtf://hdujardini_HiC"

 	// Output directory
 	outdir = "result"
}
 

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
    remove = false
}

process {
    withName:SAMTOOLS {
        container = "quay.io/biocontainers/samtools:1.18--hd87286a_0"
    }
    withName:SAMTOOLS_MERGE {
        container = "quay.io/biocontainers/samtools:1.18--hd87286a_0"
    }
    withName:ISOQUANT {
        container = "quay.io/biocontainers/isoquant:3.3.1--hdfd78af_0"
        containerOptions = "-e HOME=/tmp"
    }
    withName:RNA_BLOOM {
        container = "quay.io/biocontainers/rnabloom:2.0.1--hdfd78af_0"
    }
    withName:RNABLOOM_MINIMAP2 {
        container = "quay.io/biocontainers/minimap2:2.26--he4a0461_2"
    }
    withName:RNABLOOM_PATHTOOLS {
        container = "quay.io/biocontainers/minimap2:2.26--he4a0461_2"
    }
    withName:RNABLOOM_AGAT {
        container = "quay.io/biocontainers/agat:1.2.0--pl5321hdfd78af_0"
    }
}



timeline {
  enabled = true
  overwrite = true
  file = "${params.outdir}/execution/timeline.html"
}
report {
  enabled = true
  overwrite = true
  file = "${params.outdir}/execution/report.html"
}
trace {
  enabled = true
  overwrite = true
  file = "${params.outdir}/execution/trace.txt"
}
dag {
    enabled = true
    overwrite = true
    file    = "${params.outdir}/execution/pipeline_dag.html"
}
